
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>집 찾기?</title>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body>
        <article id="d4fce218-45a7-49a9-9700-900081a1f4ee" class="page sans">
            <header>
                <h1 class="page-title">집 찾기?</h1>
            </header>
            <div class="page-body">
                <p id="6cc8beec-ecde-4ede-8f43-303dc842196b" class=""></p>
                <p id="216cc937-655f-456b-9a83-06c5580a1c24" class=""><a href="/apply"> 집 등록하기</a></p>
                <p id="6eddf94a-a0af-4b2d-a0ab-071011d536ee" class=""></p>
                <p id="6580ccba-ebfc-45a1-b6a6-a65c5f2491c5" class=""><a href="/list"> 등록된 집 목록보기</a></p>
            </div>
        </article>
    </body>
</html>