<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>리스트 보여주기</title> 
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body>
        <article id="b4a3903f-9451-427a-9a75-20450bd68b14" class="page sans">
            <header>
                <h1 class="page-title">등록한 집 목록 보기</h1>
            </header>
            <div class="page-body">
                <p id="c1c4d465-1c1e-4948-b7e4-404d2bfc047c" class=""></p>
                {% if length != 0 %}
                    {% for house in house_list %}
                    <a href = {{url_for("house_info", index = house[0])}}><h2 id="f225bccc-d2ac-4f29-95d9-00d8354ed975" class="">{{house[1]}}</h2></a>
                    {% endfor%}
                {% else %}
                    <h2 id="0f2d2f60-61e9-485f-ae34-9a76d2b730f2", class="">집을 등록해 주세요!</h2>
                {% endif %}
            </div>
        </article>
    </body>
</html>